.required-label:before {
  content: "*";
  color: #e22729;
}

.salesforceform .container {
  padding: 5px;
}

.salesforceform .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .salesforceform .row {
    flex-direction: column;
  }
}

.salesforceform .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.salesforceform a {
  cursor: pointer;
}

.salesforceform input[type="text"],
.salesforceform input[type="tel"],
.salesforceform input[type="date"],
.salesforceform textarea,
.salesforceform select {
  width: 100%;
}

.salesforceform .subtitle {
  background-color: #e22729;
  text-align: center;
  padding: 10px;
}

/*
.salesforceform .submit {
  border-style: none;
  background-color: red;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  width: 70px;
  font-size: small;
}
*/
/*Travelers Style*/
.salesforceform #number-travelers-container {
  position: relative;
}
.salesforceform #number-travelers-container #number-travelers-modal {
  display: none;
}
.salesforceform
  #number-travelers-container:focus-within
  #number-travelers-modal {
  display: block;
}

.salesforceform #number-travelers-modal {
  border: 1px solid #dbdbdb;
  position: absolute;
  padding: 10px;
  margin-top: 3px;
  background-color: white;
  width: 90%;
  gap: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
}
.salesforceform #number-travelers-modal .row {
  flex-direction: row;
}
.salesforceform input[type="number"].number-travelers-input {
  width: 60px;
}
.salesforceform input[type="number"].number-travelers-total {
  width: 60px;
}

/*Hidden class*/
.hidden {
  display: none !important;
}

.iti {
  margin-bottom: 20px;
}
/* New class for happy gringo*/
.sales-form--title-bold {
  font-weight: 600;
}
.salesforceform {
  font-family: "Open Sans";
}
.salesforceform input[type="checkbox"] {
  margin-right: 8px;
}
.sales-form--notice {
  display: block;
  font-size: 14px;
  font-style: italic;
}
.salesforceform .subtitle h3 {
  color: #fff !important;
  font-family: "Fredoka One";
  margin-bottom: 0;
}
.sales-form--steps {
  background: #f1f1f1;
  border-bottom: solid 2px #e22729;
}
.input-container input {
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.number-travelers-input {
  border: 1px solid #c6c6c6 !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 4px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  top: 20px;
  left: 0px;
  width: 120px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  font-size: x-small;
  width: 280px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 9999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
