.required-label:before {
  content: "*";
  color: #e22729;
}

.salesforceform .container {
  padding: 5px;
}

.salesforceform .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .salesforceform .row {
    flex-direction: column;
  }
}

.salesforceform .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.salesforceform table {
  width: 100%;
  position: relative;
}

.salesforceform a {
  cursor: pointer;
}

.salesforceform tr {
  display: flex;
  flex-direction: row;
}

.salesforceform td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
.salesforceform input[type="text"],
.salesforceform input[type="tel"],
.salesforceform input[type="date"],
.salesforceform input[type="number"],
.salesforceform textarea,
.salesforceform select {
  width: 100%;
}

.salesforceform .subtitle {
  background-color: #e22729;
  color: white;
  text-align: center;
}

/*
.salesforceform .submit {
  border-style: none;
  background-color: red;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  width: 70px;
  font-size: small;
}*/

/*Travelers Style*/
.salesforceform #number-travelers-container {
  position: relative;
}
.salesforceform #number-travelers-container #number-travelers-modal {
  display: none;
}
.salesforceform
  #number-travelers-container:focus-within
  #number-travelers-modal {
  display: block;
}

.salesforceform #number-travelers-modal {
  border: 1px solid #dbdbdb;
  position: absolute;
  padding: 10px;
  margin-top: 3px;
  background-color: white;
  width: 90%;
  gap: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
}
.salesforceform #number-travelers-modal .row {
  flex-direction: row;
}
.salesforceform input[type="number"].number-travelers-input {
  width: 60px;
}
.salesforceform input[type="number"].number-travelers-total {
  width: 60px;
}

/*Hidden class*/
.hidden {
  display: none !important;
}

.iti {
  margin-bottom: 20px;
}
/* New class for happy gringo*/
.sales-form--title-bold {
  font-weight: 600;
}
.salesforceform{
  font-family: "Open Sans";
}
.salesforceform input[type=checkbox]{
  margin-right: 8px;
}
.sales-form--notice{
  display: block;
  font-size: 14px;
  font-style: italic;
}
.salesforceform .subtitle h3{
  color: #fff !important;
  font-family: 'Fredoka One';
  margin-bottom: 0;
}
.sales-form--steps {
	background: #f1f1f1;
	border-bottom: solid 2px #e22729;
}
#page1, #page2{
  padding: 10o;
}